<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" >
  <test name="Test1">
    <classes>
    <class name="com.qa.sweety.tests.LoginPageTest"/>
     </classes>
  </test> <!-- Test -->
   <test name="Test2">
    <classes>
    <class name="com.qa.sweety.tests.EntryPageTest"/>
    </classes>
  </test> <!-- Test -->
   <test name="Test3">
    <classes>
     <class name="com.qa.sweety.tests.ReportPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
